@import "tailwindcss";
@plugin "tailwindcss-animate";
@source "./**/*.{ts,tsx}";
@source "../../../packages/ui/src/**/*.{ts,tsx}";
@source "../../../packages/shared-types/src/**/*.ts";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
